<div class="modal fade orderbutton">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">The order is successfully accepted</div>
                <div data-dismiss="modal" class="close"><span class="glyphicon glyphicon-eye-close"></span></div>
            </div>
            <div class="modal-body">
                <h4>After processing we will call you back.</h4>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>