<div class="modal fade orderbutton" id="order-button-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Замовлення успішно прийнято</div>
                <div data-dismiss="modal" class="close"><span class="glyphicon glyphicon-modal-window"></span></div>
            </div>
            <div class="modal-body">
                <h4>Після опрацювання ми Вам передзвонимо.</h4>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>