@model ProjectCake.Models.ProductViewModel
@using ProjectCake.Models

<form asp-action="AddEditProduct" role="form" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = String.Format("{0} Product", @Model.Id == 0 ? "Add" : "Edit") })
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <textarea asp-for="Description" class="form-control" rows="10" cols="70"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="File" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                @*  <input asp-for="File" type="file" class="form-control" />*@
                @*<input type="file" class="custom-file-input" id="File" name="File">*@
                <input asp-for="File" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="col-lg-3 col-sm-3 control-label">Category Name</label>
            <div class="col-lg-6">
                <select class="col-lg-6 form-control" asp-for="CategoryId">
                    <option selected>Choose your category</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>