@using ProjectCake.Models
@model List<DetailRespondViewModel>




<div class="col-md-12">
    <table>
        @foreach (var comment in Model)
        {
            <tr>
                <th>@comment.RespondViewModel.Name</th>
                <th>@comment.RespondViewModel.AddedDate</th>
                <th>@comment.RespondViewModel.Text</th>
            </tr>

        }
    </table>
</div>